.wrapperAccountNoAvtorizated {
    max-width: 30%;
}
.wrapperAccountNoAvtorizated h1 {
    margin-left: 15px;
}
.wrapperAccountNoAvtorizated > * {
    margin: 15px;
    padding: 0;
}
.contentWrapper {
    max-width: 1400px;
    margin: auto;
    margin-top: 30px;
    display: flex;

}
.sideBar {
    text-align: center;
    width: fit-content;
}
.profileWrapper {
    max-width: 900px;
    text-align: left;
}
.text {
    font-size: .7rem;
    color: #666;
    margin-bottom: 1.5rem;
}