.contentWrapper {
  max-width: 1400px;
  margin: auto;
  margin-top: 30px;
  display: flex;
}
.sideBar {
  padding-top: 1rem;
  width: 25%;
}
.content {
  width: 75%;
}
.select {
  cursor: pointer;
  padding: 10px;
  width: 230px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.select input{
  width: 80%;
  outline: none;
}
.select svg {
  margin-top: 4px;
  transition: .3s ease-in;
}
.optionACtive svg {
  transform: rotate(180deg);
}
.select:hover {
  outline: none;
  border: 2px solid rgb(36, 80, 202);
}
