.wrapperGood {
  display: flex;
  gap: 20px;
}
.description {
  flex: 1 1 0;
}
.countLikeWrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}
.salesmant {
  cursor: pointer;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
}