.userAvatarWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 32px;
}
.userAvatarWrapper svg {
    display: none;
}
.userAvatarWrapper  > * {
    margin: 0;
}
.userName {
    max-width: 40%;
}
.link {
    width: fit-content;
    text-decoration: none;
    font-size:.7rem;
    color: blue;
    cursor: pointer;
}
.round {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-color: rgb(138 180 248);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.round:hover {
    background-color: #bbb;
}
.round:hover .roundInfo {
    color: #ddd;
}
.round:hover svg {
    display: block;
    position: absolute;
    left: 40%;
    top: 40%;
}
.roundInfo {
    font-size: 2.25rem;
    color: #fff;
    overflow: hidden;
}