.wrapper {
    padding: 20px;
    display: flex;
    height: 80vh;
    width: 100%;
    gap: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.chatListWrapper {
    width: 25%;
    margin: 10px;
}
.chatList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
}
.chatName, .chatNameActive {
    background-color: #e3e4e8;
    border-radius: 20px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}
.chatNameActive {
    background-color: rgba(0, 150, 255, .078); 
}
.chatName:hover {
    background-color: #c8cad0; 
}
.chatMessagesWrapper {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.chatMessages {
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin: 10px 0;
}
.chatMessages::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.chatMessages::-webkit-scrollbar-track {
	-webkit-box-shadow: 5px 5px 5px -5px rgba(6, 31, 99, 0.2) inset;
	background-color: #fff;
	border-radius: 4px;
}

.chatMessages::-webkit-scrollbar-thumb {
	margin-top: -20px;
	height: 20px;
	border-radius: 4px;
	background: linear-gradient(180deg, #bbb, #aaa);
}
.chatForm {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: right;
}
.chatForm input {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 40px;
    width: 100%;
}
.message {
    padding: 10px;
    background-color: #ddd;
    border-radius: 20px;
    margin: 10px;
    width: fit-content;
}
