.wrapper {
  max-width: 1400px;
  margin: auto;
  background-color: rgba(226, 226, 243, 0.3);
  border-radius: 20px;
}
.saleWrapper {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  gap: 20px;
  flex-wrap: wrap;
}
.saleHappyNew,
.saleStand {
  font-size: 75px;
  color: rgba(138, 43, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  margin: 30px 0;
  border-radius: 20px;
  cursor: pointer;
}

.saleHappyNew {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://i.ytimg.com/vi/ceECC2GyzGg/maxresdefault.jpg");
  background-size: cover;
}
.saleStand {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.5),
    rgba(0, 0, 255, 0.5),
    rgba(255, 255, 0, 0.5),
    rgba(0, 128, 0, 0.5),
    rgba(138, 43, 226, 0.5)
  );
}
