.button {
  width: 120px;
  background-color: #005bff;
  border-radius: 10px;
  cursor: pointer;
  border-color: none;
  border: none;
  outline: none;
  transition: .2s linear;
}
.button:hover {
  background-color: #0000dd;
}
