.button {
  width: 120px;
  background-color: blueviolet;
  border-radius: 10px;
  cursor: pointer;
  border-color: none;
  border: none;
  outline: none;
  transition: .2s linear;
}
.button:hover {
  background-color: rgb(101, 33, 165);
}
