.contentWrapper {
    max-width: 1400px;
    margin: auto;
    display: flex;
}
.sideBar {
    padding-top: 1rem;
    width: 25%;
}
.content {
    padding: 50px;
    width: 75%;
}
.wrapperFilter {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: .7rem
}
a {
    text-decoration: none;
    color: #999;
    transition: .1s ease-in-out;
}
a:hover {
    color: black;
}