.card,
.cardSmall {
  display: flex;
  min-width: 100%;
  padding: 1rem 0;
  justify-content: space-between;
  font-size: 1rem;
}
.wrapperColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 3px;
}
.wrapperColumn .like {
  position: relative;
  top: -250px;
  right: -235px;
}
.wrapperColumn .treeChild {
  margin-top: -25px;
}
.card {
  gap: 1rem;
  border-bottom: 1px solid #ccc;
}
.card input {
  cursor: pointer;
}
.cardSmall {
  margin: 0;
  gap: 0.5rem;
  font-size: .6rem;
}
.cardSmall:not(:first-child) {
  border-top: 1px solid #ccc;
}
.checkGood {
  display: flex;
  gap: 10px;
  align-items: center;
}
.firstChild {
  flex: 0 1 0;
  cursor: pointer;
}
.firstChildSmall {
  flex: 0 1 0;
  cursor: pointer;
}
.inputWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.inputWrapper .checkHover {
  position: absolute;
  top: 0;
  left: 1px;
  width: 11px;
  height: 11px;
  fill: rgb(39, 126, 160);
  display: none;
  transition: 0.2s ease-in-out;
}
.inputWrapper:hover .checkHover {
  display: block;
}
.inputWrapper:hover input {
  border: 2px solid rgb(39, 126, 160);
}
.sedondChild {
  flex: 1 1 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sedondChildSmall {
  flex: 1 1 0;
}
.descriptionBasket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 1rem;
}
.descriptionText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.iconBG {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s linear;
}
.iconBG:hover {
  background-color: #ccc;
}
.treeChild {
  flex: 1 1 1;
  min-width: 25%;
  text-align: center;
}
.treeChildSmall {
  font-size: 1rem;
  flex: 1 1 1;
  min-width: 15%;
  text-align: center;
}
.like {
  width: 7%;
  text-align: right;
}
.like svg {
  background-color: #fff;
  border-radius: 50%;
  /* box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5); */
  overflow: hidden;
}
.fourthChild {
  flex: 1 1 0;
  text-align: right;
}
