.headerPlacing {
  font-weight: bold;
}
.link {
  color: blue;
  text-decoration: none;
  font-size: .9rem;
}
.goods {
  display: flex;
  font-size: .9rem;
  gap: 5px;
}
.name {
  font-size: .9rem;
}
.headerName {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}
