.wrapper {
  min-height: calc(100vh - 110px);
  height: fit-content;
  background-color: #efefef;
}
.wrapper h1, h2, h3, div, p {
  padding: 0;
  margin: 0;
}
.contentHeader {
  padding: 1rem 0;
}
.contentWrapper, .contentWrapperOne {
  max-width: 1400px;
  margin: auto;
}
.contentWrapperOne {
  padding: 20px 0;
}
.content, .contentOne {
  height: fit-content;
}
.content {
  display: flex;
  gap: 30px;
}
.leftContent {
  height: fit-content;
  width: 65%;
  flex: 1 1 1;
  border-radius: 4px;
}
.rightContent {
  flex: 1 0 0;
  width: 35%;
}
