.cardWrapper {
  min-width: 100%;
  overflow: hidden;
}
.cardWrapperAlbum{
  text-align: center;
}
.cardAlbum {
  max-height: 250px;
  height: 250px;  
  text-align: center;
  overflow: hidden;
}

.imagesWrapper {
  display: flex;
  justify-content: left;
  transition: transform .3s linear;
}
.imageWrapper, .imageWrapperNoBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.imageWrapper {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  transition: .2s ease;
}
.imageWrapper:hover {
  border-color: blue;
} 
.cardWrapperAlbum .imagesWrapper {
  flex-direction: column;
  align-items: center;
}
.arrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #999;
}
.arrowHidden {
  display: none;
}
.arrow:hover {
  background-color: #005bff;
}
.buttonUp, .buttonDown {
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 5px 0;
  border-radius: 3px;
  transition: .3s ease;
}
.buttonUp:hover, .buttonDown:hover {
  background-color: #fff;
}
.buttonUp svg {
  transform: rotate(-90deg);
}
.buttonDown svg {
  transform: rotate(90deg);
}